.container
{
  height: 400px;
  width: 400px;
  background-color: #a6a9b6;
  border: 5px solid #666360;
  position:relative;
}

.box
{
  height: 200px;
  width: 200px;
  position: absolute;
}

.bg-orange
{
  background-color: #ff912e;
  bottom: 0;
}

.bg-gray
{
  background-color: #e4e4e4;
  right: 0;
}