.box
{
    height: 150px;
    width: 150px;
    margin: auto;
    margin-bottom: 20px;
    transition: 2s;
    position: relative;
}

.circle
{
    border-radius: 70px;
    border: 5px solid black;
    position: absolute;
    height: 70px;
    width: 70px;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}


.red
{
    background-color: red;
}

.blue
{
    background-color: blue;
}

.orange
{
    background-color: orange;
}

.white
{
    background-color: white;
}

.yellow
{
    background-color: yellow;
}

.grey
{
    background-color: grey;
}

.red:hover
{
    width: 300px;
}

.blue:hover
{
    height: 300px;
}

.orange:hover
{
    height: 300px;
    width: 300px;
}