body
{
    background-color: yellow;
}

div
{
    width: 200px;
    height: 50px;
    margin-bottom: 15px;
}

.predefined-colors
{
    background-color: black;
}

.hexadecimal-colors
{
    background-color: #ffffff;
}

.short-hexadecimal-colors
{
    background-color: #e59
}

.rgb-function
{
    background-color: rgb(0, 255, 0)
}


/* ostatni parametr a oznacza przeźroczystość a tylko kolor a opacity przeźroczystość całego diva*/
.rgba-function
{
    background-color: rgba(0,0,255,0.8)
}