.btn
{
    font-size:32px;
    text-transform:uppercase;
    background-color: orange;
    color: white;
    font-weight:700;
    border: 0;
    padding: 15px;
    cursor: pointer;
    transition: all 0.4s;
}

.btn:hover
{
    background-color: blue;
}

.btn::after
{
    content: '*';
    transition: all 0.4s;
}

.btn:hover::after
{
    font-size:50px;
}

.text-input
{
    margin-top: 15px;
    border: 3px solid red;
}

.text-input:focus
{
    border: 3px solid white;
    outline: none;
}

/* Pseudoklasy potomstwa */
.list-item:first-child
{
    color:red;
}

.list-item:last-child
{
    color:yellow;
}

p:first-of-type
{
    color: brown;
}

.list-item:nth-of-type(5)
{
    color:green;
}

.list-item:nth-of-type(odd)
{
    background-color: grey;
}

.list-item:nth-of-type(3n+2)
{
    font-size: 20px;
}