html
{
    font-size: 20px;
}

.container
{
    font-size: 30px;
}

.container > div
{
    background-color: orange;
    margin-bottom: 15px;
}

.pixels
{
    width: 400px;
}

.em
{
    width: 20em;
}

.percent
{
    width: 50%;
}

/* używane w wysokości */
.vh
{
    width: 50vh;
}